.listing-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.listing-details {
  margin-bottom: 20px;
}

.carousel-container {
  max-width: 750px;
  margin: auto;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.owner-sidebar {
  position: sticky;
  top: 100px;
  z-index: 1;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.accordion-button:focus {
  box-shadow: none;
}
