.profile-layout {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .profile-layout .row {
    display: flex;
  }

  .profile-sidebar {
    border-right: 1px solid #eee;
  }
}

.profile-sidebar .btn-group .btn {
  width: 50%;
}

.profile-sidebar .rating {
  font-size: 1.2rem;
}

.profile-sidebar .card img {
  border: 3px solid #eee;
}

.card-title {
  font-weight: bold;
}
