<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Rentals</title>
  </head>
  <body class="">
    <header class="vh-100">
      <div
        class="position-absolute top-0 start-0 w-100 h-100 overflow-hidden z-n1"
      >
        <video
          autoplay
          muted
          loop
          style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          "
        >
          <source src="static/videos/background.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div
          class="position-absolute top-0 start-0 w-100 h-100"
          style="
            background: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.7),
              transparent
            );
          "
        ></div>
        <div
          class="position-absolute top-0 end-0 w-50 h-100"
          style="
            background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.3),
              transparent
            );
          "
        ></div>
      </div>
      <div
        class="position-absolute top-50 translate-middle-y text-white w-50 ms-5"
      >
        <h1 class="header_font">Welcome to Simple Rentals</h1>
        <p class="standard_font">
          Your Trusted Marketplace for Verified Rentals
        </p>
        <a href="listings" class="btn btn-outline-light btn-lg">Get Started</a>
      </div>
      <div
        class="position-absolute top-50 end-0 translate-middle-y d-flex flex-column me-3"
      >
        <a
          href="https://www.x.com"
          class="rounded-circle bg-dark bg-opacity-50 d-flex justify-content-center align-items-center mb-2"
          style="width: 40px; height: 40px"
        >
          <img
            src="static/images/x_twitter.png"
            alt="Twitter"
            class="w-50 h-50"
            style="filter: invert(1)"
          />
        </a>
        <a
          href="https://facebook.com"
          class="rounded-circle bg-dark bg-opacity-50 d-flex justify-content-center align-items-center mb-2"
          style="width: 40px; height: 40px"
        >
          <img
            src="static/images/facebook.png"
            alt="Facebook"
            class="w-50 h-50"
            style="filter: invert(1)"
          />
        </a>
        <a
          href="https://instagram.com"
          class="rounded-circle bg-dark bg-opacity-50 d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px"
        >
          <img
            src="static/images/instagram.png"
            alt="Instagram"
            class="w-50 h-50"
            style="filter: invert(1)"
          />
        </a>
      </div>
    </header>

    <section class="bg-light py-5">
      <div class="container">
        <h2 class="header_font text-center mb-5">Key Features</h2>
        <div class="row justify-content-center gy-4">
          <div class="col-md-4">
            <div class="bg-white p-4 shadow-sm rounded text-center">
              <img
                src="static/images/verified-listing.png"
                alt=""
                class="img-fluid w-25"
              />
              <h4 class="mt-3">Verified Listings</h4>
              <p>
                We add a verified badge to the listing that underwent our
                verification process to ensure they are accurate and
                trustworthy, so you can browse with confidence.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-white p-4 shadow-sm rounded text-center">
              <img
                src="static/images/verified-landlord.png"
                alt=""
                class="img-fluid w-25"
              />
              <h4 class="mt-3">Landlord Verification</h4>
              <p>
                All landlords willing to add more than one listing are required
                to undergo our rigorous verification process to ensure that they
                are reliable and credible for a safe renting experience.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-white p-4 shadow-sm rounded text-center">
              <img
                src="static/images/verified-finance.png"
                alt=""
                class="img-fluid w-25"
              />
              <h4 class="mt-3">Financial Health Check</h4>
              <p>
                We allow potential tenants to go thorough a financial health
                check to be able to see the listings that fit their budget and
                for landlords and to see tenant match level.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-white p-4 shadow-sm rounded text-center">
              <img
                src="static/images/house-sharing.png"
                alt=""
                class="img-fluid w-25"
              />
              <h4 class="mt-3">House Sharing Listings</h4>
              <p>
                Our platform allows landlords to enable sharing on their
                listings, which allows tenants to form tenant groups and apply
                to rent the space as roommates or housemates.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-white p-4 shadow-sm rounded text-center">
              <img
                src="static/images/document-prep.png"
                alt=""
                class="img-fluid w-25"
              />
              <h4 class="mt-3">Easy Document Preparation</h4>
              <p>
                Our platform allows landlords and tenants to easily prepare the
                various contracts and e-sign them. Easily prepare rental,
                co-tenant, sublease, and other agreements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="header_font mb-3">Our Reviews</h3>
            <p class="standard_font mb-4 pb-2 mb-md-5 pb-md-0">
              See what people have to say online about using our service!
            </p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card">
              <div class="avatar mx-auto bg-white mt-4">
                <img
                  src="static/images/avatar-1.png"
                  class="rounded-circle img-fluid w-50"
                />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Person 1</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  These guys are amazing, they helped me find a place in Toronto
                  through their groups and I live with 3 amazing roommates now!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card">
              <div class="avatar mx-auto bg-white mt-4">
                <img
                  src="static/images/avatar-2.png"
                  class="rounded-circle img-fluid w-50"
                />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Person 2</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  The contract preparation feature is amazing! It saved me so
                  much time, and their e-sign functionality saved me so much
                  time!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-0">
            <div class="card">
              <div class="avatar mx-auto bg-white mt-4">
                <img
                  src="static/images/avatar-3.png"
                  class="rounded-circle img-fluid w-50"
                />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Person 3</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  I enjoyed using this app! The sign up is the breeze and in a
                  few minutes you start seeing different listings and can list
                  yours easily!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="start"
      class="text-center py-5 text-white"
      style="background-color: #5f7ca5"
    >
      <div class="container">
        <h2 style="color: #f8f3ed">Start Your Journey Today</h2>
        <p>
          Sign up and explore verified listings, house sharing options, and
          hassle-free renting!
        </p>
        <a href="register" class="btn btn-light btn-lg">Register</a>
      </div>
    </section>
  </body>
</html>
